header {
   border: 1px solid goldenrod;
}

header li {
   list-style-type: none;
   display: inline;
   margin-right: 20px;
}

.disabled {
   color: gray;
}

a .disabled,
a.disabled {
   color: purple;
}

.active {
   color: yellow;
}

.parent div div {
   color: red;
}

.parent div~div {
   color: blue;
}

.parent div~h4 {
   background-color: red;
}

.parent div h4~h4 {
   background-color: blue;
}

.grandparent>h4 {
   border: 1px solid black;
   border-radius: 10px;
}

.promo {
   font-weight: bold;
   color: gold;
}

input {
   height: 25px;
}